appdirs==1.4.4
asgiref==3.3.4
asn1crypto==1.4.0
beem==0.24.21
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
click-shell==2.0
colorama==0.4.4
diff-match-patch==20200713
dj-database-url==0.5.0
Django==3.2.4
django-heroku==0.3.1
ecdsa==0.17.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.5.0
prettytable==2.1.0
psycopg2-binary==2.9.3
pycryptodomex==3.10.1
pytz==2021.1
requests==2.25.1
ruamel.yaml==0.17.7
ruamel.yaml.clib==0.2.2
scrypt==0.8.18
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.5
wcwidth==0.2.5
websocket-client==1.0.1
whitenoise==5.2.0
zipp==3.4.1
